<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h3>Blog Title:</h3>
        <input type="text" name="title"/>
        <h3>Your Blog:</h3>
        <input type="text" name="body"/>
        <!-- <input type="datetime" name="created_date"> -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>