<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <header style="text-align: center;">
        <h1>Tisha's blog</h1>
    </header>
    <div style="border: 2px solid black; padding: 10px; border-radius: 5px;">
        <!-- <a href="#" style="text-decoration: none; color: black;"> -->
            <h1 style="text-shadow: 2px 1px;">{{p.title}}</h1>
            <h3>{{p.body}}</h3>
            <h5>{{p.created_date}}</h5>
        </a>
    </div>
</body>

</html>